{% extends "::base.html.twig" %}

{% block title %}Render Template & pass paramaters.{% endblock %}

{% block body %}
    <h1>You just successfully passed some parameters to this page</h1>
    Hello: <strong>{{name}}</strong>
{% endblock %}
